body {
    background-color: #262626;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background: url("assets/images/background.jpg") no-repeat center center fixed;
    /*background-size: 100%;*/
}

#guitar {
    margin: auto;
}